/* ==========================================================================
   My Fonts
   ========================================================================== */

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
  url("../fonts/maven-pro/maven-pro-regular.woff2") format("woff2"),
  url("../fonts/maven-pro/maven-pro-regular.woff") format("woff");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
  url("../fonts/maven-pro/maven-pro-medium.woff2") format("woff2"),
  url("../fonts/maven-pro/maven-pro-medium.woff") format("woff");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
  url("../fonts/maven-pro/maven-pro-semibold.woff2") format("woff2"),
  url("../fonts/maven-pro/maven-pro-semibold.woff") format("woff");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
  url("../fonts/maven-pro/maven-pro-bold.woff2") format("woff2"),
  url("../fonts/maven-pro/maven-pro-bold.woff") format("woff");
}

@font-face {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
  url("../fonts/maven-pro/maven-pro-extrabold.woff2") format("woff2"),
  url("../fonts/maven-pro/maven-pro-extrabold.woff") format("woff");
}

/* ==========================================================================
   My variables
   ========================================================================== */
:root {
  --width-container: 1600;
  --width-container-min: 320;
  --max-basis: 1;
  --min-basis: calc(1 / 3 * 2);
  --ratio: *((var(--max-basis) * 1px - (var(--width-container) * 1px - 100vw) * ((var(--max-basis) - var(--min-basis)) / (var(--width-container) - var(--width-container-min)))) / var(--max-basis));
  --unit: * clamp(var(--min-basis) * 1px, 1 var(--ratio), var(--max-basis) * 1px);
  --font-01: "Maven Pro", "Arial", sans-serif;
  --color-01-hue: 0;
  --color-01-saturation: 0%;
  --color-01-lightness: 20%;
  --color-01: hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 1);
  --color-02-hue: 14;
  --color-02-saturation: 87%;
  --color-02-lightness: 55%;
  --color-02: hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 1);
}

/* ==========================================================================
   My normalize
   ========================================================================== */
html {
  box-sizing: border-box;
  font-family: var(--font-01);
  font-size: 10px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: var(--color-01);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg {
  transform: translate3d(0, 0, 0);
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul,
ol,
dl,
dd,
details,
summary {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
a {
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

:invalid {
  box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active,
summary:focus,
summary:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

figure {
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

summary::-webkit-details-marker {
  display: none;
}

details,
details *,
summary,
summary * {
  box-sizing: border-box;
}

summary {
  display: block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/* ==========================================================================
     My Style
     ========================================================================== */
::selection {
  background: hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.25);
}

::-webkit-scrollbar {
  width: 10px;
  border-left: 2px solid hsla(var(--color-01-hue), var(--color-01-saturation), 80%, 1);
  background: hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1);
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 5px hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.15);
  border-radius: 2px;
  background: hsla(var(--color-01-hue), var(--color-01-saturation), 50%, 1);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-02);
}

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.focus--style {
  position: relative;
}

.focus--style::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(-1 * 10 var(--unit));
  left: calc(-1 * 10 var(--unit));
  width: calc(100% + 20 var(--unit));
  max-width: none;
  height: calc(100% + 20 var(--unit));
  border: 2px solid hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
  border-radius: calc(10 var(--unit));
  background: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1);
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (any-hover: hover) {
  .focus--style:focus::before {
    visibility: visible;
    opacity: 1;
  }

  .focus--style:focus:not(:focus-visible)::before {
    visibility: hidden;
    opacity: 0;
  }

  .focus--style:focus-visible::before {
    visibility: visible;
    opacity: 1;
  }
}

.image--container {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.image--cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image--contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  width: calc(var(--width-container) * 1px);
  margin: 0 auto;
  padding: 0 clamp(30 var(--unit), 6.5vw, 100 var(--unit));
}

.container--row {
  flex-direction: row;
  justify-content: space-between;
}

.container--column {
  flex-direction: column;
}

.section {
  position: relative;
  padding: clamp(75 var(--unit), 10vw, 150 var(--unit)) 0;
}

@media (max-width: 499px) {
  .section--color .container {
    padding: 0;
  }
}

.color-02 {
  color: var(--color-02);
}

.inner {
  position: relative;
  display: flex;
  gap: clamp(45 var(--unit), 5vw, 75 var(--unit));
  width: 100%;
}

@media (max-width: 999px) {
  .inner {
    flex-direction: column;
  }
}

.section--color .inner {
  padding: clamp(75 var(--unit), 6.5vw, 100 var(--unit)) clamp(30 var(--unit), 6.5vw, 100 var(--unit));
  border-radius: calc(30 var(--unit));
  background-color: hsla(var(--color-01-hue), var(--color-01-saturation), 96%, 1);
}

@media (max-width: 499px) {
  .section--color .inner {
    border-radius: 0;
  }
}

.content,
.content__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  gap: clamp(30 var(--unit), 3.25vw, 50 var(--unit));
  width: 50%;
}

@media (max-width: 999px) {
  .content {
    width: 100%;
  }
}

.content__group {
  display: flex;
  flex-direction: column;
  gap: calc(20 var(--unit));
}

.section__image {
  position: absolute;
  width: 100%;
}

@media (max-width: 999px) {
  .section__image {
    all: unset;
  }
}

.titles {
  display: flex;
  flex-direction: column;
  gap: calc(20 var(--unit));
}

.pretitle {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(20 var(--unit));
  margin: -0.2em 0;
  font-weight: 600;
  font-size: clamp(14px, 18 var(--unit), 18px);
  text-transform: uppercase;
  color: var(--color-02);
}

.title {
  margin: -0.2em 0;
  font-family: var(--font-01);
  font-weight: 600;
  font-size: calc(45 var(--unit));
  color: var(--color-01);
}

@media (max-width: 999px) {
  .title {
    font-size: clamp(25px, 4vw, 50px);
  }
}

.subtitle {
  margin: -0.2em 0;
  font-family: var(--font-01);
  font-weight: 600;
  font-size: clamp(15px, 20 var(--unit), 20px);
  color: var(--color-01);
}

.text {
  z-index: 2;
  margin: -0.3em 0;
  font-weight: 400;
  font-size: clamp(14px, 18 var(--unit), 18px);
  line-height: 1.5;
}

.text--center {
  text-align: center;
}

@media (max-width: 999px) {
  .mobile--center {
    align-self: center;
    text-align: center;
  }
}

.text--inline {
  display: inline-block;
}

.link {
  font-weight: 500;
  color: var(--color-02);
  transition: color 0.3s ease-out;
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--color-01);
  }
}

.buttons {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(30 var(--unit));
}

.button {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-height: calc(45 var(--unit));
  padding: calc(10 var(--unit)) calc(25 var(--unit));
  box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
  border-radius: calc(6 var(--unit));
  background-color: var(--color-02);
  font-family: var(--font-01);
  font-weight: 500;
  font-size: clamp(14px, calc(16 var(--ratio)), 16px);
  white-space: nowrap;
  color: #fff;
  transition-property: box-shadow, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (max-width: 499px) {
  .button {
    white-space: initial;
  }
}

@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.35);
    background-color: var(--color-01);
  }

  .button--hover--white:hover {
    background-color: #fff;
    color: var(--color-02);
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: calc(100 var(--unit));
  background-color: #fff;
  transition: box-shadow 0.3s ease-out;
}

.header--fixed {
  box-shadow: 0 0 calc(15 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05),
  0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.025);
}

.header__container {
  align-items: center;
  gap: calc(30 var(--unit));
  height: 100%;
}

.logo {
  z-index: 3;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  height: calc(45 var(--unit));
  font-weight: 600;
  font-size: calc(20 var(--unit));
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.logo__image {
  width: auto;
  height: 100%;
}

.logo__image img {
  width: auto;
  height: 100%;
}

.menu {
  display: flex;
  flex: 1 0;
}

@media (max-width: 1349px) {
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 1349px) {
  .menu-toggle {
    position: relative;
    display: flex;
  }

  .menu-toggle::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100 var(--unit));
    background: hsla(var(--color-01-hue), var(--color-01-saturation), 90%, 1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

  .menu-toggle[open]::before {
    opacity: 1;
    pointer-events: all;
  }

  .menu-toggle__button {
    z-index: 2;
    display: flex;
    width: 30px;
    height: 30px;
  }

  .menu-toggle__button::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    cursor: default;
  }

  .menu-toggle[open] .menu-toggle__button::after {
    visibility: visible;
  }

  .menu-toggle__list {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .menu-toggle__item {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-01);
    transition-property: top, right, bottom, left, background-color, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu-toggle__item:nth-of-type(1) {
    top: 0;
    left: 0;
  }

  .menu-toggle__item:nth-of-type(2) {
    top: 0;
    left: 40%;
  }

  .menu-toggle__item:nth-of-type(3) {
    top: 0;
    right: 0;
  }

  .menu-toggle__item:nth-of-type(4) {
    top: 40%;
    left: 0;
  }

  .menu-toggle__item:nth-of-type(5) {
    top: 40%;
    left: 40%;
    background-color: var(--color-02);
  }

  .menu-toggle__item:nth-of-type(6) {
    top: 40%;
    right: 0;
  }

  .menu-toggle__item:nth-of-type(7) {
    bottom: 0;
    left: 0;
  }

  .menu-toggle__item:nth-of-type(8) {
    bottom: 0;
    left: 40%;
  }

  .menu-toggle__item:nth-of-type(9) {
    right: 0;
    bottom: 0;
  }

  .menu-toggle[open] .menu-toggle__item:nth-of-type(2) {
    top: 20%;
    left: 60%;
  }

  .menu-toggle[open] .menu-toggle__item:nth-of-type(4) {
    top: 20%;
    left: 20%;
  }

  .menu-toggle[open] .menu-toggle__item:nth-of-type(6) {
    top: 60%;
    right: 20%;
  }

  .menu-toggle[open] .menu-toggle__item:nth-of-type(8) {
    top: 60%;
    left: 20%;
  }
}

@media (any-hover: hover) and (max-width: 1349px) {
  .menu-toggle {
    cursor: pointer;
  }
}

@media (max-width: 499px) {
  .menu-toggle__button {
    width: 25px;
    height: 25px;
  }

  .menu-toggle__item {
    width: 5px;
    height: 5px;
  }
}

.menu__list {
  display: flex;
}

@media (min-width: 1350px) {
  .menu__panel {
    display: flex;
    flex: 1 0;
    gap: calc(30 var(--unit));
  }

  .menu__list {
    flex: 1 0;
    justify-content: center;
    align-items: center;
    gap: calc(60 var(--unit));
  }
}

@media (max-width: 1349px) {
  .menu__panel {
    position: fixed;
    z-index: 3;
    top: calc(100 var(--unit));
    left: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(30 var(--unit));
    width: min(100%, max(25%, 250 var(--unit)));
    max-height: calc(100% - 90 var(--unit));
    padding: clamp(30 var(--unit), 4vw, 60 var(--unit)) clamp(30 var(--unit), 6.5vw, 100 var(--unit));
    border-radius: calc(10 var(--unit));
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    transition-property: transform, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu-toggle[open] + .menu__panel {
    transform: translateX(-100%);
    visibility: visible;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: calc(30 var(--unit));
  }
}

.menu__item {
  position: relative;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transition-property: padding, background, color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (min-width: 1350px) {
  .menu__link {
    white-space: nowrap;
  }

  .menu__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: calc(10 var(--unit));
    height: calc(10 var(--unit));
    margin: auto;
    transform: translateY(-500%);
    border-radius: 50%;
    background-color: var(--color-02);
    opacity: 0;
    pointer-events: none;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu__link.focus--style::before {
    display: none;
  }
}

@media (any-hover: hover) and (min-width: 1350px) {
  .menu__link:hover::after {
    transform: translateY(-250%);
    opacity: 1;
  }
}

@media (max-width: 1349px) {
  .menu__link {
    position: relative;
    z-index: 2;
    background: #fff;
  }

  .menu__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: border, background, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu__link::before {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__link {
    cursor: pointer;
  }
}

@media (any-hover: hover) and (min-width: 1350px) {
  .menu__link:hover {
    color: var(--color-02);
  }
}

@media (any-hover: hover) and (max-width: 1349px) {
  .menu__link:focus-visible {
    border-color: hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
  }

  .menu__link:hover {
    color: var(--color-02);
  }

  .menu__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    transform: translateX(500%);
    border-radius: 50%;
    background-color: var(--color-02);
    opacity: 0;
    pointer-events: none;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu__link:hover::after {
    transform: translateX(250%);
    opacity: 1;
  }
}

.menu__headline {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin: -0.2em 0;
  font-family: var(--font-01);
  font-weight: 500;
  font-size: calc(18 var(--unit)) ;
  line-height: 1.25;
  white-space: nowrap;
}

@media (min-width: 1350px) {
  .menu__link .menu__headline::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * 10 var(--unit));
    left: calc(-1 * 10 var(--unit));
    width: calc(100% + 20 var(--unit));
    max-width: none;
    height: calc(100% + 20 var(--unit));
    border: 2px solid hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
    border-radius: calc(10 var(--unit));
    background: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1);
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

@media (any-hover: hover) and (min-width: 1350px) {
  .menu__link:focus-visible .menu__headline::before {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1349px) {
  .menu__link .menu__headline::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * 10 var(--unit));
    left: calc(-1 * 10 var(--unit));
    width: calc(100% + 20 var(--unit));
    max-width: none;
    height: calc(100% + 20 var(--unit));
    border: 2px solid hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
    border-radius: calc(10 var(--unit));
    background: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1);
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

@media (any-hover: hover) and (max-width: 1349px) {
  .menu__link:focus-visible .menu__headline::before {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1349px) {
  .menu__headline {
    font-size: clamp(16px, calc(22 var(--unit)), 22px);
  }
}

.menu__buttons {
  display: flex;
  gap: calc(20 var(--unit)) calc(30 var(--unit));
}

@media (max-width: 1349px) {
  .menu__buttons {
    flex-direction: column;
    padding: calc(30 var(--unit));
  }
}

.menu__bg--mobile {
  position: fixed;
  z-index: -1;
  top: calc(100 var(--unit));
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0;
  transition-timing-function: ease-out;
  transition-delay: 0.3s;
}

.menu__bg--mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-01);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

@media (max-width: 1349px) {
  .menu-toggle[open] + .menu__panel + .menu__bg--mobile {
    visibility: visible;
    transition-delay: 0s;
  }

  .menu-toggle[open] + .menu__panel + .menu__bg--mobile::before {
    opacity: 0.3;
  }
}

.main {
  padding-top: calc(100 var(--unit));
}

.start {
  position: relative;
  display: flex;
  height: calc(100vh - 75 var(--unit));
  margin-bottom: calc(-1 * 50 var(--unit));
}

@media (max-width: 1399px) {
  .start {
    height: initial;
    margin-bottom: 0;
  }
}

.start__container {
  padding-bottom: calc(100 var(--unit));
}

@media (max-width: 1399px) {
  .start__container {
    padding-bottom: 0;
  }
}

.start__inner {
  align-items: center;
  height: 100%;
}

.start__image {
  bottom: -3.5%;
  left: 55%;
  width: 100%;
  height: calc(100% - 50 var(--unit));
  object-position: 0 100%;
}

@media (max-width: 999px) {
  .start__image {
    width: min(100%, max(60%, 500 var(--unit)));
  }
}

.start__image img {
  object-position: 0 100%;
}

.start__pretitle {
  font-size: calc(25 var(--unit));
}

.start__title {
  width: calc(600 var(--unit));
  margin: -0.1em 0;
  font-weight: 600;
  font-size: clamp(30px, 4vw, 65px);
  line-height: 1.15;
}

.start__link {
  display: flex;
  align-items: center;
  gap: calc(15 var(--unit));
  height: 100%;
  font-weight: 500;
  transition-property: background-color, color, fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (any-hover: hover) {
  .start__link:hover {
    color: var(--color-02);
  }

  .start__link:hover .link__icon {
    background-color: var(--color-02);
    fill: #fff;
  }
}

.link__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: calc(45 var(--unit));
  height: calc(45 var(--unit));
  box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.15);
  border-radius: 50%;
  background-color: #fff;
  fill: var(--color-01);
  transition-property: background-color, fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.link__pic {
  display: flex;
  width: 30%;
  height: 30%;
  margin-left: 10%;
}

.target__inner {
  justify-content: flex-end;
}

@media (max-width: 999px) {
  .target__inner {
    align-items: center;
  }
}

.target__image {
  top: 0;
  right: 57%;
  bottom: 0;
  height: calc(100% + calc(75 var(--unit)));
  margin: auto;
}

@media (max-width: 1499px) {
  .target__image {
    height: 100%;
  }
}

.target__image img {
  object-position: 100% 50%;
}

@media (max-width: 999px) {
  .target__image {
    width: min(100%, max(60%, 600 var(--unit)));
  }

  .target__image img {
    object-position: 50% 50%;
  }
}

.target-list {
  display: flex;
  flex-direction: column;
  gap: calc(25 var(--unit));
}

.target-list__item {
  position: relative;
  display: flex;
  gap: calc(20 var(--unit));
}

.target-list__item::before {
  content: "";
  flex-shrink: 0;
  width: calc(10 var(--unit));
  height: calc(10 var(--unit));
  margin-top: calc(5 var(--unit));
  box-shadow: 0 calc(5 var(--unit)) calc(15 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
  border-radius: 50%;
  background-color: var(--color-02);
}

.cases__content {
  align-items: center;
  width: 100%;
}

.cases__titles {
  align-items: center;
}

.cases-list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(30 var(--unit));
}

.cases-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 40%;
  gap: calc(25 var(--unit));
  padding: calc(30 var(--unit));
  border-radius: calc(16 var(--unit));
  background: radial-gradient(circle farthest-corner at 0% calc(100% - 38 var(--unit)), transparent, transparent calc(16 var(--unit)), #fff calc(15 var(--unit)), #fff 100%);
}

@media (max-width: 799px) {
  .cases-list__item {
    flex: 1 0 100%;
  }
}

.cases-list__item::before {
  content: "";
  position: absolute;
  top: calc(100% - 43 var(--unit));
  left: calc(-1 * 5 var(--unit));
  width: calc(10 var(--unit));
  height: calc(10 var(--unit));
  margin: auto;
  box-shadow: 0 calc(5 var(--unit)) calc(15 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
  border-radius: 50%;
  background-color: var(--color-02);
  pointer-events: none;
}

.cases-list__pic {
  display: flex;
  width: calc(60 var(--unit));
  height: calc(60 var(--unit));
}

.cases-list__info {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  gap: calc(15 var(--unit));
}

.cases__button {
  margin-bottom: clamp(-75 var(--unit), -6.5vw, -100 var(--unit));
  transform: translateY(100%);
}

@media (max-width: 1199px) {
  .cases__button {
    margin-bottom: 0;
    transform: translateY(0);
  }
}

.faq__image {
  top: calc(-1 * 15 var(--unit));
  left: calc(55% + 0 var(--unit));
  height: calc(800 var(--unit));
}

.faq__image img {
  object-position: 0 0;
}

@media (max-width: 999px) {
  .faq__image {
    width: min(100%, max(50%, 500 var(--unit)));
    height: auto;
  }
}

.faq-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(20 var(--unit));
  width: 100%;
}

.faq-list__item {
  position: relative;
}

.faq-list__item::before {
  content: "";
  position: absolute;
  top: calc(40 var(--unit));
  right: 0;
  bottom: 0;
  left: 0;
}

.faq-list-toggle {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq-list__title {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  box-shadow: var(--box-shadow-01);
  border-radius: calc(10 var(--unit));
  background: radial-gradient(circle farthest-corner at 0% calc(23 var(--unit)), transparent, transparent calc(16 var(--unit)), hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1) calc(15 var(--unit)), hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1) 100%);
}

.faq-list__title::before {
  content: "";
  position: absolute;
  top: calc(18 var(--unit));
  left: calc(-1 * 5 var(--unit));
  width: calc(10 var(--unit));
  height: calc(10 var(--unit));
  box-shadow: 0 calc(5 var(--unit)) calc(15 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
  border-radius: 50%;
  background-color: var(--color-02);
}

.faq-list__title::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: calc(10 var(--unit));
  background: radial-gradient(circle farthest-corner at 0% calc(23 var(--unit)), transparent, transparent calc(16 var(--unit)), hsla(var(--color-02-hue), var(--color-02-saturation), 95%, 1) calc(15 var(--unit)), hsla(var(--color-02-hue), var(--color-02-saturation), 95%, 1) 100%);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

@media (any-hover: hover) {
  .faq-list__title {
    cursor: pointer;
  }

  .faq-list__title:hover::after {
    opacity: 1;
  }
}

.faq-list__headline {
  width: 100%;
  min-height: calc(46 var(--unit));
  padding: calc(15 var(--unit)) calc(25 var(--unit)) calc(15 var(--unit)) calc(35 var(--unit));
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.faq-list-toggle__button {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-self: flex-start;
  width: calc(45 var(--unit));
  height: calc(45 var(--unit));
  border: 2px solid transparent;
  border-radius: calc(10 var(--unit));
  transition: border-color 0.3s ease-out;
}

@media (any-hover: hover) {
  .faq-list__title:focus .faq-list-toggle__button {
    border-color: var(--color-02);
  }

  .faq-list__title:focus:not(:focus-visible) .faq-list-toggle__button {
    border-color: transparent;
  }

  .faq-list__title:focus-visible .faq-list-toggle__button {
    border-color: var(--color-02);
  }
}

.faq-list-toggle__button::before,
.faq-list-toggle__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(16 var(--unit));
  height: 2px;
  margin: auto;
  transform-origin: 50% 50%;
  background-color: var(--color-01);
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.faq-list-toggle__button::after {
  transform: rotate(-90deg);
}

.faq-list-toggle[open] .faq-list-toggle__button::after {
  transform: rotate(0);
}

@media (any-hover: hover) {
  .faq-list__title:hover .faq-list-toggle__button::before,
  .faq-list__title:hover .faq-list-toggle__button::after {
    background-color: var(--color-02);
  }
}

.faq-list__info {
  max-height: 0;
  overflow: hidden;
  transition-property: max-height, box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0, 1), linear;
}

.faq-list-toggle[open] + .faq-list__info {
  max-height: 10000px;
  transition-property: max-height, box-shadow;
  transition-duration: 0.75s;
  transition-timing-function: cubic-bezier(1, 0, 1, 0), linear;
}

.faq-list__answer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(25 var(--unit));
  padding: calc(22 var(--unit)) calc(25 var(--unit));
  border: 2px solid var(--color-01);
  border-top: none;
  border-radius: calc(10 var(--unit));
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.benefits__inner {
  justify-content: flex-end;
}

@media (max-width: 999px) {
  .benefits__inner {
    align-items: center;
  }
}

.benefits__image {
  top: 0;
  right: 55%;
  bottom: 0;
  height: calc(100% + 30 var(--unit));
  margin: auto;
}

.benefits__image img {
  object-position: 100% 50%;
}

@media (max-width: 999px) {
  .benefits__image {
    all: unset;
    width: min(100%, max(50%, 450 var(--unit)));
  }

  .benefits__image img {
    object-position: 50% 50%;
  }
}

@media (max-width: 999px) {
  .documentation__inner {
    align-items: center;
  }
}

.documentation__image {
  top: 0;
  bottom: 0;
  left: calc(55% + 0 var(--unit));
  height: calc(100% + 100 var(--unit));
  margin: auto;
}

@media (max-width: 1499px) {
  .documentation__image {
    height: 100%;
  }
}

@media (max-width: 999px) {
  .documentation__image {
    all: unset;
    width: min(100%, max(70%, 650 var(--unit)));
  }
}

.documentation__image img {
  object-position: 0 50%;
}

.banner {
  position: relative;
}

.banner__container {
  align-items: center;
}

.banner__content {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: calc(20 var(--unit)) calc(30 var(--unit));
  width: calc(100% - 16px);
  width: 100%;
  padding: calc(40 var(--unit)) clamp(30 var(--unit), 4.5vw, 75 var(--unit));
  border-radius: calc(20 var(--unit));
  color: #fff;
  overflow: hidden;
}

.banner__content::before,
.banner__content::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner__content::before {
  background-color: var(--color-01);
}

.banner__content::after {
  background: url(../images/bg-01.svg) 50% 27.5% / cover no-repeat;
  filter: grayscale(100%)brightness(500%);
  opacity: 0.125;
}

@media (max-width: 1449px) {
  .banner__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.banner__title {
  font-weight: 500;
  font-size: clamp(25 var(--unit), 2vw, 32 var(--unit));
  line-height: 1.25;
}

@media (max-width: 399px) {
  .banner__title {
    white-space: normal;
  }
}

.blog__content {
  align-items: center;
  width: 100%;
}

.blog__titles {
  align-items: center;
}

.blog-list {
  display: flex;
  gap: calc(30 var(--unit));
}

@media (max-width: 999px) {
  .blog-list {
    flex-direction: column;
  }
}

.blog-list__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: calc(30 var(--unit));
  width: max(75%, 650 var(--unit));
  padding: calc(30 var(--unit));
  border-radius: calc(16 var(--unit));
  background: radial-gradient(circle farthest-corner at 0% calc(100% - 38 var(--unit)), transparent, transparent calc(16 var(--unit)), hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1) calc(15 var(--unit)), hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1) 100%);
}

.blog-list__item::before {
  content: "";
  position: absolute;
  top: calc(100% - 43 var(--unit));
  left: calc(-1 * 5 var(--unit));
  width: calc(10 var(--unit));
  height: calc(10 var(--unit));
  margin: auto;
  box-shadow: 0 calc(5 var(--unit)) calc(15 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
  border-radius: 50%;
  background-color: var(--color-02);
  pointer-events: none;
}

.blog-list__info {
  display: flex;
  flex-direction: column;
  gap: calc(30 var(--unit));
}

.blog-list__image {
  max-height: calc(350 var(--unit));
  border-radius: calc(10 var(--unit));
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.blog-list__image img {
  transform-origin: 0 100%;
  object-position: 0 50%;
  transition: transform 0.3s ease-out;
}

@media (any-hover: hover) {
  .blog-list__item:hover .blog-list__image img {
    transform: scale(1.1);
  }
}

.blog-list__subtitle {
  display: -webkit-box;
  overflow: hidden;

  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.blog-list__text {
  display: -webkit-box;
  overflow: hidden;

  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.footer {
  position: relative;
  padding: calc(60 var(--unit)) 0;
  background: radial-gradient(circle farthest-corner at 50% 0%, transparent, transparent calc(60 var(--unit)), hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1) calc(60 var(--unit)), hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1) 100%);
}

.footer__logo {
  position: absolute;
  top: calc(-1 * 30 var(--unit));
  right: 0;
  left: 0;
  display: flex;
  width: calc(60 var(--unit));
  height: calc(60 var(--unit));
  margin: auto;
  fill: var(--color-01);
  transition: fill 0.3s ease-out;
}

@media (any-hover: hover) {
  .footer__logo:hover {
    fill: var(--color-02);
  }
}

.footer__logo::before {
  top: calc(-1 * 30 var(--unit));
  left: calc(-1 * 30 var(--unit));
  width: calc(100% + 60 var(--unit));
  height: calc(100% + 60 var(--unit));
  border-radius: 50%;
}

.footer-logo__pic {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer__container {
  gap: clamp(40 var(--unit), 3.25vw, 50 var(--unit));
}

@media (max-width: 749px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    padding-top: calc(50 var(--unit));
  }
}

.footer-socials__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(30 var(--unit));
}

.footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(45 var(--unit));
  height: calc(45 var(--unit));
  box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.35);
  border-radius: calc(6 var(--unit));
  background-color: var(--color-01);
  fill: #fff;
  transition-property: box-shadow, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (any-hover: hover) {
  .footer-socials__link:hover {
    box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
    background-color: var(--color-02);
  }
}

.footer-socials__pic {
  display: flex;
  width: 45%;
  height: 45%;
}

.footer-socials__pic--big {
  transform: scale(1.05);
}

.footer-company__list {
  display: flex;
  align-items: center;
  gap: clamp(30 var(--unit), 3.25vw, 50 var(--unit));
  height: 100%;
}

@media (max-width: 349px) {
  .footer-company__list {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-company__link {
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease-out;
}

.footer-company__link::after {
  content: "";
  position: absolute;
  top: calc(-1 * 30 var(--unit));
  right: 0;
  left: 0;
  width: calc(10 var(--unit));
  height: calc(10 var(--unit));
  margin: auto;
  box-shadow: 0 calc(5 var(--unit)) calc(15 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
  border-radius: 50%;
  background-color: var(--color-02);
  opacity: 0;
  pointer-events: none;
  transition-property: top, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (any-hover: hover) {
  .footer-company__link:hover {
    color: var(--color-02);
  }

  .footer-company__link:hover::after {
    top: calc(-1 * 15 var(--unit));
    opacity: 1;
  }
}
