/* ==========================================================================
   My fonts
   ========================================================================== */

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local(""),
  url("../fonts/Lexend/Lexend-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(""),
  url("../fonts/Lexend/Lexend-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
  url("../fonts/Lexend/Lexend-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
  url("../fonts/Lexend/Lexend-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
  url("../fonts/Lexend/Lexend-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
  url("../fonts/Lexend/Lexend-Bold.woff2") format("woff2");
}

/* ==========================================================================
   My variables
   ========================================================================== */
:root {
  --width-container: 1600;
  --width-container-min: 320;
  --max-basis: 1;
  --min-basis: calc(1 / 3 * 2);
  --ratio: *((var(--max-basis) * 1px - (var(--width-container) * 1px - 100vw) * ((var(--max-basis) - var(--min-basis)) / (var(--width-container) - var(--width-container-min)))) / var(--max-basis));
  --unit: * clamp(var(--min-basis) * 1px, 1 var(--ratio), var(--max-basis) * 1px);
  --font-01: "Lexend", "Arial", sans-serif;
  --color-01-hue: 199;
  --color-01-saturation: 26%;
  --color-01-lightness: 35%;
  --color-01: hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 1);
  --color-02-hue: 196;
  --color-02-saturation: 100%;
  --color-02-lightness: 40%;
  --color-02: hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 1);
  --color-03-hue: 20;
  --color-03-saturation: 85%;
  --color-03-lightness: 55%;
  --color-03: hsla(var(--color-03-hue), var(--color-03-saturation), var(--color-03-lightness), 1);
}

/* ==========================================================================
   My normalize
   ========================================================================== */
html {
  box-sizing: border-box;
  font-family: var(--font-01);
  font-feature-settings: "kern";
  font-weight: 300;
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: var(--color-01);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: hsla(var(--color-02-hue), var(--color-02-saturation), 97%, 1);
}

hr {
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  outline: none;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  color: inherit;
}

abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg {
  transform: translate3d(0, 0, 0);
}

button,
fieldset,
iframe,
input,
optgroup,
select,
textarea,
ul,
ol,
dl,
dd,
details,
summary {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
a {
  cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select::-ms-expand {
  display: none;
}

:invalid {
  box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
label:focus,
label:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
a:focus,
a:active,
summary:focus,
summary:active {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  color: inherit;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

figure {
  margin: 0;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

summary::-webkit-details-marker {
  display: none;
}

details,
details *,
summary,
summary * {
  box-sizing: border-box;
}

summary {
  display: block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

/* ==========================================================================
     My Style
     ========================================================================== */
::selection {
  background: hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.25);
}

::-webkit-scrollbar {
  width: 10px;
  border-left: 2px solid hsla(var(--color-01-hue), var(--color-01-saturation), 90%, 1);
  background: hsla(var(--color-01-hue), var(--color-01-saturation), 95%, 1);
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 5px hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.15);
  border-radius: 3px;
  background: var(--color-02);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-03);
}

.visually--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.focus--style {
  position: relative;
}

.focus--style::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: calc(-1 * 10 var(--unit));
  left: calc(-1 * 10 var(--unit));
  width: calc(100% + 20 var(--unit));
  max-width: none;
  height: calc(100% + 20 var(--unit));
  border: 2px solid hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
  border-radius: calc(10 var(--unit));
  background: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1);
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (any-hover: hover) {
  .focus--style:focus::before {
    visibility: visible;
    opacity: 1;
  }

  .focus--style:focus:not(:focus-visible)::before {
    visibility: hidden;
    opacity: 0;
  }

  .focus--style:focus-visible::before {
    visibility: visible;
    opacity: 1;
  }
}

.image--container {
  position: relative;
  display: flex;
  flex-shrink: 0;
  pointer-events: none;
}

.image--cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image--contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  width: calc(var(--width-container) * 1px);
  margin: 0 auto;
  padding: 0 clamp(30 var(--unit), 6.5vw, 100 var(--unit));
}

.container--row {
  flex-direction: row;
  justify-content: space-between;
}

.container--column {
  flex-direction: column;
}

.section {
  position: relative;
  padding: clamp(75 var(--unit), 12.5vw, 175 var(--unit)) 0 0;
}

.main {
  padding-bottom: clamp(75 var(--unit), 12.5vw, 175 var(--unit));
}

@media (max-width: 499px) {
  .section--color .container {
    padding: 0;
  }
}

.color-02 {
  color: var(--color-02);
}

.color-03 {
  color: var(--color-03);
}

.inner {
  position: relative;
  display: flex;
  gap: clamp(45 var(--unit), 5vw, 75 var(--unit));
  width: 100%;
}

@media (max-width: 999px) {
  .inner {
    flex-direction: column;
  }
}

.section--color .inner {
  padding: clamp(75 var(--unit), 6.5vw, 100 var(--unit)) clamp(30 var(--unit), 6.5vw, 100 var(--unit));
  border-radius: calc(30 var(--unit));
  background-color: hsla(var(--color-01-hue), var(--color-01-saturation), 96%, 1);
}

@media (max-width: 499px) {
  .section--color .inner {
    border-radius: 0;
  }
}

.content,
.content__group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content {
  gap: clamp(30 var(--unit), 3.25vw, 50 var(--unit));
  width: 50%;
}

@media (max-width: 999px) {
  .content {
    width: 100%;
  }
}

.content__group {
  display: flex;
  flex-direction: column;
  gap: calc(20 var(--unit));
}

.section__image {
  position: absolute;
  width: 100%;
}

@media (max-width: 999px) {
  .section__image {
    all: unset;
  }
}

.titles {
  display: flex;
  flex-direction: column;
  gap: calc(20 var(--unit));
}

.pretitle {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(20 var(--unit));
  margin: -0.2em 0;
  font-weight: 400;
  font-size: clamp(15px, 22 var(--unit), 22px);
  text-transform: uppercase;
  color: var(--color-02);
}

.title {
  margin: -0.2em 0;
  font-weight: 600;
  font-size: calc(45 var(--unit));
  color: var(--color-01);
}

@media (max-width: 999px) {
  .title {
    font-size: clamp(25px, 4vw, 50px);
  }
}

.subtitle {
  margin: -0.2em 0;
  font-family: var(--font-01);
  font-weight: 400;
  font-size: clamp(15px, 20 var(--unit), 20px);
  color: var(--color-01);
}

.text {
  z-index: 2;
  margin: -0.3em 0;
  font-size: clamp(14px, 18 var(--unit), 18px);
  line-height: 1.6;
}

.text--center {
  justify-content: center;
  text-align: center;
}

@media (max-width: 999px) {
  .mobile--center {
    align-self: center;
    text-align: center;
  }
}

.text--inline {
  display: inline-block;
}

.color--second {
  color: var(--color-02);
}

.color--third {
  color: var(--color-03);
}

.link {
  font-weight: 500;
  color: var(--color-02);
  transition: color 0.3s ease-out;
}

@media (any-hover: hover) {
  .link:hover {
    color: var(--color-03);
  }
}

.buttons {
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(30 var(--unit));
}

.button {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  min-height: calc(45 var(--unit));
  padding: calc(10 var(--unit)) calc(25 var(--unit));
  box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-03-hue), var(--color-03-saturation), var(--color-03-lightness), 0.35);
  background-color: var(--color-03);
  font-family: var(--font-01);
  font-weight: 500;
  font-size: clamp(14px, calc(16 var(--ratio)), 16px);
  white-space: nowrap;
  color: #fff;
  transition-property: box-shadow, background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (max-width: 499px) {
  .button {
    white-space: initial;
  }
}

.button-03 {
  box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-03-hue), var(--color-03-saturation), var(--color-03-lightness), 0);
  background-color: hsla(var(--color-03-hue), var(--color-03-saturation), 94%, 1);
  color: var(--color-03);
}

@media (any-hover: hover) {
  .button:hover {
    box-shadow: 0 calc(10 var(--unit)) calc(25 var(--unit)) hsla(var(--color-02-hue), var(--color-02-saturation), var(--color-02-lightness), 0.35);
    background-color: var(--color-02);
    color: #fff;
  }

  .button--hover--white:hover {
    background-color: #fff;
    color: var(--color-02);
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  height: calc(100 var(--unit));

/* background-color: #fff; */
  /* background-color: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1); */
  transition-property: transform, background-color, box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  /* transition-delay: 0.3s; */
}

.header--shadow {
  box-shadow: 0 0 calc(15 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05),
  0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.025);
  background-color: #fff;
}

.header--hidden {
  transform: translateY(-100%);
}

.header__container {
  align-items: center;
  gap: calc(30 var(--unit));
  height: 100%;
}

.logo {
  z-index: 3;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  height: calc(55 var(--unit));
  font-weight: 600;
  font-size: calc(20 var(--unit));
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.logo__image {
  width: auto;
  height: 100%;
}

.logo__image img {
  width: auto;
  height: 100%;
}

.menu {
  display: flex;
  flex: 1 0;
}

@media (max-width: 1349px) {
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (max-width: 1349px) {
  .menu-toggle {
    position: relative;
    display: flex;
  }

  .menu-toggle::before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100 var(--unit));
    background: hsla(var(--color-01-hue), var(--color-01-saturation), 90%, 1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }

  .menu-toggle[open]::before {
    opacity: 1;
    pointer-events: all;
  }

  .menu-toggle__button {
    z-index: 2;
    display: flex;
    width: 30px;
    height: 30px;
    background: linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-02), var(--color-02)),
    linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-01), var(--color-01)),
    linear-gradient(var(--color-01), var(--color-01));
    background-position: 0% 0%,
    40% 0%,
    80% 0%,
    0% 40%,
    40% 40%,
    80% 40%,
    0% 80%,
    40% 80%,
    80% 80%;
    background-size: 5px 5px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition-property: background-position;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu-toggle__button::after {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    cursor: default;
  }

  .menu-toggle[open] .menu-toggle__button::after {
    visibility: visible;
  }

  .menu-toggle[open] .menu-toggle__button {
    background-position: 0% 0%,
    20% 20%,
    80% 0%,
    20% 60%,
    40% 40%,
    60% 20%,
    0% 80%,
    60% 60%,
    80% 80%;
  }
}

@media (max-width: 1349px) {
  .menu-toggle {
    position: relative;
    display: flex;
  }
}

@media (any-hover: hover) and (max-width: 749px) {
  .menu-toggle__button {
    width: 25px;
    height: 25px;
    background-size: 4px 4px;
  }
}

@media (max-width: 499px) {
  .menu-toggle__button {
    width: 25px;
    height: 25px;
  }

  .menu-toggle__item {
    width: 5px;
    height: 5px;
  }
}

.menu__list {
  display: flex;
}

@media (min-width: 1350px) {
  .menu__panel {
    display: flex;
    flex: 1 0;
    gap: calc(30 var(--unit));
  }

  .menu__list {
    flex: 1 0;
    justify-content: center;
    align-items: center;
    gap: calc(60 var(--unit));
  }
}

@media (max-width: 1349px) {
  .menu__panel {
    position: fixed;
    z-index: 3;
    top: calc(100 var(--unit));
    left: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(30 var(--unit));
    width: min(100%, max(25%, 250 var(--unit)));
    max-height: calc(100% - 90 var(--unit));
    padding: clamp(30 var(--unit), 4vw, 60 var(--unit)) clamp(30 var(--unit), 6.5vw, 100 var(--unit));
    border-radius: calc(10 var(--unit));
    background: #fff;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    transition-property: transform, visibility;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu-toggle[open] + .menu__panel {
    transform: translateX(-100%);
    visibility: visible;
  }

  .menu__list {
    flex-direction: column;
    align-items: flex-end;
    gap: calc(30 var(--unit));
  }
}

.menu__item {
  position: relative;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  transition-property: padding, background, color, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (min-width: 1350px) {
  .menu__link {
    white-space: nowrap;
  }

  .menu__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: calc(10 var(--unit));
    height: calc(10 var(--unit));
    margin: auto;
    transform: translateY(-500%);
    border-radius: 25%;
    background: linear-gradient(to top right, var(--color-02), var(--color-02) 50%, var(--color-03) 50%, var(--color-03));
    opacity: 0;
    pointer-events: none;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu__link.focus--style::before {
    display: none;
  }
}

@media (any-hover: hover) and (min-width: 1350px) {
  .menu__link:hover::after {
    transform: translateY(-250%);
    opacity: 1;
  }
}

@media (max-width: 1349px) {
  .menu__link {
    position: relative;
    z-index: 2;
    background: #fff;
  }

  .menu__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-property: border, background, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu__link::before {
    display: none;
  }
}

@media (any-hover: hover) {
  .menu__link {
    cursor: pointer;
  }
}

@media (any-hover: hover) and (min-width: 1350px) {
  .menu__link:hover {
    color: var(--color-02);
  }
}

@media (any-hover: hover) and (max-width: 1349px) {
  .menu__link:focus-visible {
    border-color: hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
  }

  .menu__link:hover {
    color: var(--color-02);
  }

  .menu__link::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin: auto;
    transform: translateX(500%);
    border-radius: 50%;
    background-color: var(--color-02);
    opacity: 0;
    pointer-events: none;
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }

  .menu__link:hover::after {
    transform: translateX(250%);
    opacity: 1;
  }
}

.menu__headline {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  margin: -0.2em 0;
  font-family: var(--font-01);
  font-weight: 400;
  font-size: calc(18 var(--unit)) ;
  line-height: 1.25;
  white-space: nowrap;
}

@media (min-width: 1350px) {
  .menu__link .menu__headline::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * 10 var(--unit));
    left: calc(-1 * 10 var(--unit));
    width: calc(100% + 20 var(--unit));
    max-width: none;
    height: calc(100% + 20 var(--unit));
    border: 2px solid hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
    border-radius: calc(10 var(--unit));
    background: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1);
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

@media (any-hover: hover) and (min-width: 1350px) {
  .menu__link:focus-visible .menu__headline::before {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1349px) {
  .menu__link .menu__headline::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: calc(-1 * 10 var(--unit));
    left: calc(-1 * 10 var(--unit));
    width: calc(100% + 20 var(--unit));
    max-width: none;
    height: calc(100% + 20 var(--unit));
    border: 2px solid hsla(var(--color-02-hue), var(--color-02-saturation), 65%, 1);
    border-radius: calc(10 var(--unit));
    background: hsla(var(--color-02-hue), var(--color-02-saturation), 98%, 1);
    visibility: hidden;
    opacity: 0;
    transition-property: visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

@media (any-hover: hover) and (max-width: 1349px) {
  .menu__link:focus-visible .menu__headline::before {
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1349px) {
  .menu__headline {
    font-size: clamp(16px, calc(22 var(--unit)), 22px);
  }
}

.menu__buttons {
  display: flex;
  gap: calc(20 var(--unit)) calc(30 var(--unit));
}

.buttons .button-wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 1349px) {
  .menu__buttons {
    flex-direction: column;
    padding: calc(30 var(--unit));
  }
}

.menu__bg--mobile {
  position: fixed;
  z-index: -1;
  top: calc(100 var(--unit));
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  transition-property: visibility;
  transition-duration: 0;
  transition-timing-function: ease-out;
  transition-delay: 0.3s;
}

.menu__bg--mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-01);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

@media (max-width: 1349px) {
  .menu-toggle[open] + .menu__panel + .menu__bg--mobile {
    visibility: visible;
    transition-delay: 0s;
  }

  .menu-toggle[open] + .menu__panel + .menu__bg--mobile::before {
    opacity: 0.3;
  }
}

.main {
  padding-top: calc(120 var(--unit));
}

.start {
  position: relative;
  display: flex;
  /* height: calc(100vh - 100 var(--unit) - 150 var(--unit)); */
}

@media (max-width: 1399px) {
  .start {
    height: initial;
    margin-bottom: 0;
  }
}

.start__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(50 var(--unit));
  height: 100%;
}

.start__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.start__content {
  gap: calc(30 var(--unit));
}

.start__pretitle {
  font-size: calc(25 var(--unit));
}

.start__title {
  width: min(100%, max(90%, 700 var(--unit)));
  margin: -0.1em 0;
  font-weight: 600;
  font-size: clamp(30px, 4.5vw, 75px);
  line-height: 1.15;
}

.start__text {
  /* width: min(100%, max(50%, 475 var(--unit))); */
  font-size: calc(20 var(--unit));
}

.start__link {
  display: flex;
  align-items: center;
  gap: calc(15 var(--unit));
  height: 100%;
  font-weight: 500;
  transition-property: background-color, color, fill;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

@media (any-hover: hover) {
  .start__link:hover {
    color: var(--color-02);
  }

  .start__link:hover .link__icon {
    background-color: var(--color-02);
    fill: #fff;
  }
}

.buttons .text {
  display: flex;
  align-items: center;
}

.start__info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  box-shadow: 0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05);
}

.start-info__item {
  display: flex;
  flex-direction: column;

/* flex: 1 0; */
  width: 50%;

/* min-height: calc(250 var(--unit)); */
  padding: calc(90 var(--unit)) calc(60 var(--unit));
}

.start-info__item:nth-of-type(2n) {
  align-items: flex-end;
}

.start-info__item:nth-of-type(3),
.start-info__item:nth-of-type(4) {
  justify-content: flex-end;
}

.start-info__item:nth-of-type(1),
.start-info__item:nth-of-type(4) {
  background-color: hsla(var(--color-02-hue), var(--color-02-saturation), calc(var(--color-02-lightness) + 52%), 1);
}

.start-info__item:nth-of-type(2),
.start-info__item:nth-of-type(3) {
  background-color: hsla(var(--color-03-hue), var(--color-03-saturation), calc(var(--color-03-lightness) + 38%), 1);
}

.start-info__box {
  display: flex;
  align-items: center;
  gap: calc(20 var(--unit));
}

.start-info__pic {
  width: calc(70 var(--unit));
  height: calc(70 var(--unit));
}

.start-info__item:nth-of-type(2n) .start-info__pic {
  order: 2;
}

.start-info__data {
  display: flex;
  flex-direction: column;
  gap: calc(10 var(--unit));
}

.start-info__item:nth-of-type(2n) .start-info__data {
  align-items: flex-end;
}

.start-info__subtitle {
  margin: -0.2em 0;
  font-weight: 300;
  font-size: calc(24 var(--unit));
  color: var(--color-01);
}

.start-info__text {
  font-weight: 600;
  font-size: clamp(15px, 18 var(--unit), 18px);
}

.start__picture {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 55%;
  max-height: calc(400 var(--unit));
  margin: auto;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  filter: drop-shadow(calc(20 var(--unit)) calc(20 var(--unit)) calc(50 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.5));
}

@media (max-width: 999px) {
  .start__picture {
    all: unset;
    position: relative;
    top: -5%;
    width: min(80%, max(50%, 500 var(--unit)));
    margin-bottom: calc(-50 var(--unit));
  }
}

.start__image {
  width: 100%;
  height: 100%;
}

.start__buttons {
  align-self: center;
}

.advantages::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/wave-03.svg) 50% 0% / contain no-repeat;
  opacity: 0.25;
}

.advantages__container {
  gap: calc(60 var(--unit));
}

.advantages-list {
  display: flex;
  gap: calc(30 var(--unit));
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: calc(30 var(--unit));
  padding: calc(50 var(--unit));
  box-shadow: 0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05);
  background-color: #fff;
}

.advantages-list__image {
  /* height: calc(150 var(--unit)); */
  /* background-color: hsla(var(--color-02-hue), var(--color-02-saturation), calc(var(--color-02-lightness) + 55%), 1); */
}

.advantages-list__pic {
  align-self: center;
  width: 100%;
  height: calc(160 var(--unit));
}

.advantages-list__subtitle {
  margin: -0.2em 0;
  font-weight: 600;
  font-size: calc(25 var(--unit));
  color: var(--color-01);
}

.advantages-list__text {
  padding: 0 calc(15 var(--unit));
  font-size: clamp(15px, 18 var(--unit), 18px);
}

.how::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(-1, 1);
  background: url(../images/wave-03.svg) 50% 100% / contain no-repeat;
  opacity: 0.25;
}

.how__container {
  gap: clamp(45 var(--unit), 4.5vw, 75 var(--unit));
}

.how__content {
  flex: 1;
  justify-content: center;
}

.how-services {
  display: flex;
  flex-wrap: wrap;
  gap: calc(20 var(--unit));
}

.how__service {
  display: flex;
  flex: 1 0 40%;
  align-items: center;
  gap: calc(20 var(--unit));
  padding: calc(20 var(--unit)) calc(25 var(--unit));
  box-shadow: 0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05);
  background-color: #fff;
}

.how-services__pic {
  display: flex;
  width: calc(45 var(--unit));
  height: calc(45 var(--unit));
}

.how__number {
  flex-shrink: 0;
  width: calc(90 var(--unit));
  margin: -0.3em 0;
  font-weight: 600;
  font-size: clamp(14px, 30 var(--unit), 30px);
  line-height: 1.25;
}

.how-services__subtitle {
  margin: -0.3em 0;
  font-weight: 400;
  font-size: clamp(14px, 16 var(--unit), 16px);
  line-height: 1.25;
}

.how__picture {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  box-shadow: 0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

@media (max-width: 999px) {
  .how__picture {
    all: unset;
    position: relative;
    top: -5%;
    width: min(80%, max(50%, 500 var(--unit)));
    margin-bottom: calc(-50 var(--unit));
  }
}

.how__image {
  width: 100%;
  height: 100%;
}

.how__info {
  display: flex;
  flex-direction: column;
  gap: calc(25 var(--unit));
}

.products__container {
  gap: calc(50 var(--unit));
}

.products__list {
  display: flex;
  gap: calc(30 var(--unit));
}

.products-item {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  gap: calc(30 var(--unit));
  width: 25%;
  padding: calc(40 var(--unit)) calc(40 var(--unit));
  box-shadow: 0 calc(15 var(--unit)) calc(30 var(--unit)) hsla(var(--color-01-hue), var(--color-01-saturation), var(--color-01-lightness), 0.05);
  background-color: #fff;
}

.products-item__image {
  height: calc(150 var(--unit));
}

.products-item__info {
  display: flex;
  flex-direction: column;
  gap: calc(10 var(--unit));
}

.products-item__subtitle {
  margin: -0.2em 0;
  font-weight: 600;
  font-size: calc(25 var(--unit));
  color: var(--color-01);
}

.products-item__text {
  position: relative;
  display: flex;
  gap: calc(15 var(--unit));
  font-size: clamp(12px, 15 var(--unit), 15px);
}

.products-item__text::before {
  content: "";
  position: relative;
  top: calc(6 var(--unit));
  flex-shrink: 0;
  width: calc(6 var(--unit));
  height: calc(6 var(--unit));
  background-color: var(--color-02);
}

.accreditations__list {
  display: flex;
  justify-content: space-between;
  gap: calc(50 var(--unit));
  width: 100%;
}

.accreditations__item {
  position: relative;
  display: flex;
  height: calc(70 var(--unit));
}

.accreditations__image {
  position: relative;
  align-self: center;
  width: auto;
  height: 100%;
  object-fit: contain;
}

.accreditations__image--70 {
  height: 70%;
}

.accreditations__image--80 {
  height: 80%;
}

.accreditations {
  position: relative;
}

.accreditations::before {
  content: "";
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 250%;
  background: url(../images/wave-03.svg) 50% 0% / contain no-repeat;
  opacity: 0.25;
}

.footer {
  position: relative;
  background: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  gap: calc(50 var(--unit));
  padding: calc(100 var(--unit)) 0;
}

.footer__data {
  display: flex;
  justify-content: space-between;
  gap: calc(75 var(--unit));
}

@media (max-width: 1299px) {
  .footer-data {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: calc(50 var(--unit)) calc(100 var(--unit));
  }
}

@media (max-width: 1199px) {
  .footer-data {
    gap: calc(50 var(--unit)) calc(75 var(--unit));
  }
}

@media (max-width: 999px) {
  .footer-data {
    gap: calc(50 var(--unit)) calc(60 var(--unit));
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__item:first-of-type {
  max-width: calc(610 var(--unit));
}

@media (max-width: 1299px) {
  .footer__item:first-of-type {
    max-width: 100%;
  }
}

.footer__sub-title {
  margin: -0.1em 0 0;
  padding-bottom: calc(40 var(--unit));
  font-weight: 500;
  font-size: clamp(18px, calc(22 var(--ratio)), 25px);
  line-height: 1.25;
  text-transform: uppercase;
}

.footer__text {
  margin: -0.1em 0 0;
  line-height: 1.25;
  color: var(--color-01);
  transition-property: text-decoration-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.footer__text--mission {
  position: relative;
  top: 0.5em;
  margin: -0.95em 0 0;
  line-height: 2;
}

a .footer-links__icon + .footer__text {
  /* padding-top: 0.025em; */
}

.footer-links__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(10 var(--unit)) 0;
  height: 100%;
}

.footer-links__item {
  display: flex;
  justify-content: flex-start;
}

.footer-links__link {
  display: flex;
  align-items: center;
  gap: 0 calc(15 var(--unit));
}

a:hover .footer__text {
  text-decoration-color: var(--color-02);
  color: var(--color-02);
}

.footer-links__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: calc(22 var(--unit));
  height: calc(22 var(--unit));
  border-top-right-radius: calc(10 var(--unit));
  border-bottom-left-radius: calc(10 var(--unit));
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-01);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.footer-links__link:hover {
  color: var(--color-02);
}

.footer-links__link:hover .footer-links__icon {
  fill: var(--color-02);
}

.footer-links__pic {
  display: flex;
  width: 100%;
  height: 100%;
}

.footer__info {
  padding-top: calc(75 var(--unit));
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: calc(30 var(--unit)) calc(60 var(--unit));
  width: 100%;
}

.footer-info__list {
  display: flex;
  flex-wrap: wrap;
  gap: calc(15 var(--unit)) calc(50 var(--unit));
}

.footer__copyright {
  line-height: 1.5;
}
